.wrap {
    display: flex;
    position: relative;
    flex-direction: column; /* 위에서 아래로 내용 전개 */
}

.title {
    /** 사이즈 **/
    width: 1920px;
    height: 2160px;
    /** 정렬 **/
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-image: url("/img/interaction_title(2).jpg");
}
.main_title {
    /** 정렬 **/
    display: block;
    float: left;
    position: absolute;
    z-index: 2;
    margin-left: 416px;
    margin-top: 1175px;
    /** 폰트 **/
    font-family: 'NanumSquareExtraBold';
    line-height: 90px;
    font-size: 60px;
}
