.wrap {
    display: flex;
    background-color: #FFFFFF;
}

.container {
    display: grid;

    /** columns, rows **/
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.25rem;
    grid-template-rows: repeat(5, 1fr);

    margin-left: 9.375rem;
    margin-right: 9.375rem;
}

.item {
  border: 0px solid #444444;
}

.title_image {
    grid-area: 1 / 1 / 4 / 13;
}

.image {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    overflow: hidden; /* 넘치는 부분을 숨겨줌 */

    max-width: 100%;
    height: auto;
}

.area_0 {
    grid-area: 1 / 10 / 2 / 13;

    z-index: 1;
}

.move_0 {
    position: relative;
    top: 2.5rem;
    left: 6.5rem;
}

.social-menu ul {
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .far {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li .far:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(3) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(4) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.title_text {
    grid-area: 4 / 3 / 5 / 7;

    width: 33rem;
    height: 22.5rem;
}

.text {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 0.25rem;
    bottom : 1.875rem;

    /** font **/
    color: #2B2B2B;
    line-height: 5.625rem;
    font-size: 3.75rem;
    font-family: 'NanumSquareExtraBold';
}

.main {
    grid-area: 4 / 8 / 5 / 12;

    width: 33rem;
    height: 22.5rem;
}

.area {

}

.move {

}

.emoji {
    position: relative;
    top: 1.5625rem;
    left: 0.125rem;

    width: 2rem;
    height: 2rem;
}

.about_me {
    position: relative;
    bottom: 2.5625rem;
    left: 2.375rem;

    /** font **/
    color: #309e82;
    font-size : 2rem;
    font-family: 'Roboto', sans-serif;
}

.hr_line {
    position: relative;
    left: 0.25rem;
    bottom: 3.25rem;
    margin-top: 0.125rem;

    border: 1px solid #D4D4D4;
    width: 32.8125rem;
}

.move_2 {
    position: relative;
    bottom: 2.625rem;
    right: 0.0625rem;
}

.introduction {
    position: relative;
    left: 0.375rem;
    top: 0.1875rem;

    /** font **/
    color: #3B3B3B;
    letter-spacing: 0.05rem;
    line-height: 1.75rem;
    font-size : 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.introduction_paragraph {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 1.5rem;
    bottom: 0.25rem;
    z-index: 2;

    /** font **/
    color: #5B5B5B;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'NanumSquareRegular';
}

.introduction_paragraph_ex {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 1.5rem;

    /** font **/
    color: #5B5B5B;
    letter-spacing: 0.025rem;
    line-height: 1.875rem;
    font-size: 1rem;
    font-family: 'NanumSquareRegular';
}

.coffee {
    position: relative;
    left: 16.1875rem;
    bottom: 2.6875rem;

    width: 1.5rem;
    height: 1.5rem;
}

.introduction_paragraph_xx {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 1.5rem;
    bottom: 0.125rem;

    /** font **/
    color: #5B5B5B;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'NanumSquareRegular';
}

.introduction_paragraph_zx {
    position: relative;
    left: 18.125rem;
    bottom: 5.5rem;

    /** font **/
    color: #5B5B5B;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'NanumSquareRegular';
}

.move_3 {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 0.3125rem;
    bottom: 17.9375rem;
}

.circle_ex {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    bottom: 1.8125rem;
    margin-bottom: 2.0625rem;

    width: 0.5rem;
    height: 0.5rem;

    border: 0px solid #5B5B5B;
    background-color: #5B5B5B;
    border-radius: 100%;
}

.circle {
    width: 0.5rem;
    height: 0.5rem;

    border: 0px solid #5B5B5B;
    background-color: #5B5B5B;
    border-radius: 100%;

    margin-bottom: 2.0625rem;
}

.hyperlink {
    grid-area: 5 / 3 / 6 / 5;

    width: 15.875rem;
    height: 22.5rem;
}

.hyperlink_text {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 0.8125rem;
    top: 0.5rem;

    /** font **/
    color: #2B2B2B;
    letter-spacing: 0.025rem;
    font-size: 1.25rem;
    font-family: 'NanumSquareBold';
    text-decoration: none; /* a 태그 밑줄 제거 */
}

.hyperlink a:hover {
    color: #309e82;
    transform: translate(0, -10%);
}

.main_2 {
    grid-area: 5 / 8 / 6 / 12;

    width: 33rem;
    height: 22.5rem;
}

.second_area {
    position: relative;
    top: 1rem;
}

.second_move {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    bottom: 1.875rem;
}

.education {
    position: relative;
    left: 0.25rem;

    /** font **/
    color: #3B3B3B;
    letter-spacing: 0.05rem;
    line-height: 1.75rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.education_paragraph {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 1.5rem;

    /** font **/
    color: #5B5B5B;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'NanumSquareRegular';
}

.second_move_2 {
    position: relative; /* 요소 자기 자신을 기준으로 배치 */
    left: 0.3125rem;
    bottom: 11.5625rem;
}

.second_circle {
    width: 0.5rem;
    height: 0.5rem;

    border: 0px solid #5B5B5B;
    background-color: #5B5B5B;
    border-radius: 100%;

    margin-bottom: 2.0625rem;
}

