@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: "Pretendard", serif;
}

body {
    background-image: url("https://lh3.googleusercontent.com/fife/AAbDypApa4Lz_kiYoruhRUcmZ-QPi9hPapclc8gZB-PGoBA-YAw4362e9QPFgmWE5eMrb5XW5-4fVyt8r2hg2v41ndaJGH7x7K7Dls1weUmKmbvmfup9B8TKqpRbj_ScW96BjHrgy4N9giOEUKS6DqW5tTuWSee8g-IrFuTsrMbRc7_ZOhRLWD1DW8hE6y7F5jKVij9bGAmJEaYbIID5gZ9HAUT-ikMJr5aIxCsOanT6TwcKTcTlIG2VzNffB4wwePHB0JiFqa88zCBi8KkFdz05niLNC0MBXhCSWA9-OTNp66utxwb4JH6wME5hlm90-RO9nhNQorI7uR-RGnPpsJGn-5FAxf7gj_kREa73JUQOS0xW7Je-Cy9c3do9BxGxQZUxl11hiUy_5tpTggzbtnD1ViwT_ZwTAUhjP0eUx2OCcB0FtMn56bBPKROIsIDnOjUwp7zgn9TQUasc00VXttVtaXKcxKwDzkuwkkZzA0lI-2zIriAXIwVojZWNQNn3enR5aO_bV7N_ZDBsgw8Q4tkMoixTibRLU1JYkFDNgCaDwnfabbksB-YfTx0iujgLHXilMnfTUtITkmWiSo4rMQ0FNJeI-x4WRf0l3Z60N48d-utmOYXZnOBYftkgVg9EdQIPFFJyaiAMWIwBmnqH7sBCZ69uJvjH-i_zcFCO5fpq7T66CuOhTBREsTEXSjz-JiaCEm04N39SNiOpLOPVpGVaFGXMyYOod4I4Ui05g_OFV8b1JVKZ6-U_z1SYDpxsJg6F3kglOWhwR9PBDT50hp9KGu9rem1KHFkQniItEMtybWlRe-r-QG2Lm6Yl-4niD89ckDefHBiwZKYNmibbbTKEJiQMwiH10VopD7KcTU_UjJ7cMUEJ86STZRU7_xtBm0tAIShfSKc4cHCpSkkVyJd2Fad8KlVAgxFBmZ5AYcP00VPCMqV5B574F8ZuQkuHo3nM-3uWT0lDp6oeOsm9KWbscdN9Y-PVQXEM169zC8elCLznxL4K_sxCKs_UM32ZLSaDfv9el5Q6mx09girq7jsvjtVrE1sHDnNTuupp4hNbUtMasrWmzhcoooVrMvkUsEuHGEuuRgi6vw3ySWqVgMoBluoUzJfwLNmoDCKwu5pYhii4ko4pFnkH-CkxgkFm6qV4kpD0FW6TNeeGSO_Ro4ZH3hyA7h6kqSAFQEdtuNbintwnwX1iaqZtxQoVkOAY3IkI5eqg0L4XbnytYKaLfkeaO29uriIJXQy91GuFQhj5Wn67GX-qf56g2sCszAMv6vCgDZd15Q4=w1920-h937");
    background-size: cover;
}

.pro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
}

.profile {
    margin-top: 3px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0px solid black;
    background-image: url('https://lh3.googleusercontent.com/fife/AAbDypAvwWvNVRHYHu17iaGtJqhi8IFSkHRRYcyxPC4J2eFK1GTW70LzFRkgHlX_kKIw4erk3ByqfdG8L4FsmrwLL4FskhURP3iUjGJEk6GjfK1pcxbItXZubdXS3ipF-oUGMn8M-yg67iPdTcBCdBq-svlYSDjdF2tVaMs0wIs25gE8viJHfnAuHJOQhIs-Z_3HEYMQtslolO9IqU59dOpQo27XQgJSvq9u74xtuKiOaWpozNagCcrNnlWUiKqf1mjuzsDuTWGhIM1QKC8aenw_dn3gGIyU6QrB9WGoJoiTDMf3JDtYNm7Oi4WEZQAULDpHwHWg5Z_k6KDt4cOsl4PJUvrIUzGBlVWVvvCw5AcqNDcI18-5zRETABI5f5FNb1uPIs1GOilfkLY1GT8IirsZzAyVQ7psqtGLFCBqFk7smLnWgV33ZkR6nPyp5DjaGQiT4EgOierAkNA5Zhhs-H2hnRiuXe0EkT4j7qgR8pb4NGBBDAwS61z1oQ1_CBPADSodlRlPQRLbeVcbg96d00X0TYMGlaW-Mw-JSkAVPONHXJP5lps2vw6cDGcKdweUn5iZeAy2EfpP5nof_LwZG5kdZRhrfr49-Efs2r4axjGr73a7DZB1cBq37_Q1AZc-qJTl-5CYj8UjtbkV4o9yCo__JvYxGTUGzuhRXSOo_5Hc0w2x2xZrcNWBH_zL3HvevgVvmgvtAG7HH54HqmFIETi4q9R4KPw7PWvcxktOCqlS4IWwdgV2I5yZnkXtqn-MTzeOnRIsCMoL7b2qTjqQLIdpHqo1MtpR6gZbx7sooRVl_e4Q0AB5wHD2w-vyJQ6AQS1-yD0eBlw1VGoh8A6AvN-WTtF_-BCtfecGjvRN-K_mcx8bFLKkYClHcusUzqa68uo2bp4KMbC-5KgZYg97Xlcpaq9MSrP059sPY2_tLa1z9OimpY8_uPH_w1X-x0qmfXKGSzjRhWfS1f07wNU9_IojrmZiIJ7se-veAm4TIOfhuTGr5TrsbAuK3B8x53Y-OX4iLWiUiHG9c4kB7FDWQwMhwV3kNMsd0a-4ErH9_O_qbHHS1X8-UWeNOyyjLEr59dUpMg7eLssdRcZ_ZawJE0Q3HKv2vHXRgoqzOEkZs-iKFvjvLpfkOT4yxfa7OvHuxoRU5bAoDnQp683oyEo8S4AXGQZj_2Tg3QhJ-q_2w435XeSfwq3sOx2jId1hTdaGpKjCX71j9zFpHmsdZLM5xaBQP-f4e7m5zcH_b-QV2_WcEwx8L8L8px4ytnF6HICfLLiTFdgEPvA=w1520-h923');
    background-position: center;
    background-size: cover;
}

.headcopy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 260px;
}

.main {
    color: #FBFBFB;
    font-size: 27px;
    size: 20px;
    font-weight: 800;
    margin: 0%;
}

.sub {
    color: #EDEDED;
    font-size: 14px;
    font-weight: 400;
    size: 14px;
    margin-top: 10px;
}

.minis {
    display: flex;
    flex-direction: row; /* 왼쪽 전개로 내용 전개 */
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    padding: 0px;
    gap: 7px;
    margin-bottom: 68px;
}

.minis > a {
    width: 102px;
    height: 48px;
    border-radius: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    white-space: pre-wrap;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .far {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li .far:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #DD2A7B;
}

.social-menu ul li:nth-child(3) a:hover {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #4167B3;
}

.social-menu ul li:nth-child(4) a:hover {
    background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #FDB515;
}

.wrap {
    width: 320px;
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column; /* 위에서 아래로 내용 전개 */
    justify-content: center;
    align-items: center;
}

.bigs {
    display: flex;
    flex-direction: row; /* 왼쪽 스타트로 내용 전개 */
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.bigs > a {
    width: 240px;
    background-color: white;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column; /* 위에서 아래로 내용 전개 */
    align-items: flex-start;
    text-decoration: none;
    padding: 20px 16px 16px 16px;
    border-radius: 8px;
}

.name {
    font-size: 22px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 45px;
}

.desc {
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    margin-bottom: 24px;
}

.btn {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #26C50C;
    border-radius: 4px;
    padding: 5px 4px 5px 4px;
}

#intro_video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* 영상이 페이지 전체에 맞지 않을 경우, 사용 */
    background-image: none; /* 해당 동영상 */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /* 커버 동영상 배경 */
    z-index: 3; /* 레이어 개념 */
}
